doctype html
html
  head
    meta(name='author', content='Abhishek Anil Deshmukh')
    meta(name='description', content='Hi, I am Abhishek Anil Deshmukh, a research student, a web developer, a linux enthusiast and an athelete. Here are a few of my note worthy projects, and a contact info with my resume.')
    meta(name='keywords', content='Web developer, Abhishek, Deshmukh, Abhishek Anil Deshmukh, full stack developer, UI developer, freelance wed designer, linux, ubuntu, bash, science, physics, computer science, scientist')
    title Contact Deshmukh
    // apple things
    link(rel='apple-touch-icon' href='/custom-icon.png')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    // stylesheets
    link(rel='stylesheet' href='./static/css/styles.css')
  body#contact-page
    aside.cursor
    aside.background deshmukh
    main.container.mt-5
      a(href="./index.html") back
      h1 Contact Me
      article#links
        a(href="mailto:deshmukhabhishek369@gmail.com") Mail
        br
        a(href="https://www.facebook.com/deshmukh123.abhi") Facebook
        br
        a(href="http://www.github.com/abhishek-deshmukh") Github
        br
        a(href="https://twitter.com/dunce007") Twitter
        br
        a(href="https://www.instagram.com/abhishek_anil_deshmukh/") Instagram
    script(src="./static/js/main.js")
