doctype html
meta(name='description' content='Research Student, Web Developer, Linux Enthusiast')
meta(name='author' content='Abhishek Anil Deshmukh')
title
  | Deshmukh
// Apple Things
link(rel='apple-touch-icon' href='/custom-icon.png')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
// fonts
link(href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet')
// stylesheets
link(rel='stylesheet' href='./static/css/styles.css')
.container-fluid
  .row.top-row
    .col-6
      .hero
        include ./static/_face.pug
    .col-9
      .header
        h1 Abhishek Anil Deshmukh
  .row.carasole
    .card 1
    .card 2
    .card 3
    .card 4
    .card 5
    .card 1
    .card 2
    .card 3
    .card 4
    .card 5
