doctype html
html
  head
    meta(name='author', content='Abhishek Anil Deshmukh')
    meta(name='description', content='Hi, I am Abhishek Anil Deshmukh, a research student, a web developer, a linux enthusiast and an athelete. Here are a few of my note worthy projects, and a contact info with my resume.')
    meta(name='keywords', content='Web developer, Abhishek, Deshmukh, Abhishek Anil Deshmukh, full stack developer, UI developer, freelance wed designer, linux, ubuntu, bash, science, physics, computer science, scientist')
    title
      | Deshmukh
    // Apple Things
    link(rel='apple-touch-icon' href='/custom-icon.png')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    // stylesheets
    link(rel='stylesheet' href='./static/css/styles.css')
  body
    aside.cursor
    aside.background deshmukh
    main
      section.container-fluid.row#top-row
        article.col-6
          .hero
            include ./static/_face.pug
        article.col-9.header
          h1 Abhishek Anil Deshmukh
          p
            a.button(href="./cv.pdf") Resume
            a.button(href="./contact.html") Contact Me
      section.carasole
        mixin card(input)
          article.card(style="background:" + input.color + ";", heading=input.heading, info=input.info)
            figure.box
              a(href=input.link, target="_blank")
                img(src="./images/" + input.image_name)
        -
          var data = [
            {
              heading:"nrps",
              info:"A front end to set reverse proxy on nginx, because nginx configs are ugly.",
              color: "#35DA6D",
              image_name: "nrps_ss.png",
              link: "https://github.com/Abhishek-Deshmukh/nrps"
            },
            {
              heading:"star",
              info:"Convert any python function into a deployable web app.",
              color: "#35ACDA",
              image_name:"star_logo.png",
              link: "https://github.com/Abhishek-Deshmukh/STAR"
            },
            {
              heading:"Canteen Menu",
              info:"Canteen menu don't need to be in a table, so, here is a beautiful UI to select what to eat.",
              color:"#DAA235",
              image_name: "niser_canteen_ss.png",
              link: "https://www.niser.ac.in/~smishra/canteen-menu/"
            },
            {
              heading:"Documentation Template",
              info:"Documentation is important for any project, and ugly documentation can be demotivating, and making beautiful ones takes effort, or does it?",
              color:"#ffffff",
              image_name: "undraw_documentation.png",
              link: "https://github.com/Abhishek-Deshmukh/Documentation-Template"
            },
            {
              heading: "dENE",
              info:"Who said data analysis has to look boring and, be difficult??",
              color:"#ffffff",
              image_name: "dene.png",
              link: "#"
            }
          ];
        each data_point in data
          +card(data_point)
        each data_point in data
          +card(data_point)
      script(src="./static/js/main.js")
