button {
  background: $color4;
  padding: 7px;
  border: none;
  margin: 20px;
  color: white;
  font-family: 'Bordeaux Regular';
  font-size: 21px;
  letter-spacing: 0.036em;
  font-weight: 400;
  transition: 0.7s;
  &:hover {
    background: $color5;
    font-size: 25px;
  }
}
