.card {
  width: $card-size !important;
  height: $card-size !important;
  background: white;
  border-radius: 50px;
  margin-left: $card-margin;
  margin-right: $card-margin;
  transition: 0.3s;

  .box {
  width: $card-size !important;
  height: $card-size !important;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  &:hover {
    border-radius: 5px;
  }
  img {
    max-width: $card-size;
    max-height: $card-size;
  }
}
