* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bordeaux Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Bordeaux-Regular.ttf);
}

@import '_bootstrap-grid';
@import '_hero';
$color1: #0e8768;
$color2: #38c88a;
$color3: #ead76d;
$color4: #d25d24;
$color5: #411831;

body {
  font-family: 'Quattrocento Sans';
  background: $color3;
  overflow-x: hidden;
}
$img-height: 400px;
.hero {
  position: absolute;
  width: $img-height;
  height: $img-height;
  margin-top: 30px;
  margin-left: 125px;
}
.top-row {
  height: $img-height - 20px;
}
.header {
  margin-top: 133px;
  h1 {
    font-family: 'Bordeaux Regular';
    font-size: 63px;
    font-weight: 500;
  }
}
$number-of-cards: 5;
$card-size: 300px;
$card-margin: 30px;
.carasole {
  animation: anime-slide $number-of-cards * 5s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
  width: 10000px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  overflow-y: hidden;
  overflow-x: hidden;
  .card {
    width: $card-size;
    height: $card-size;
    background: white;
    border-radius: 50px;
    margin-left: $card-margin;
    margin-right: $card-margin;
  }
  @keyframes "anime-slide" {
    100%{transform: translate(-(($card-size + 2*$card-margin)*$number-of-cards), 0px);}
  }
}
