* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bordeaux Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Bordeaux-Regular.ttf);
}
@font-face {
  font-family: 'Poppins Light';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Poppins-Light.ttf);
}

@import '_bootstrap-grid';
@import '_hero';
@import '_cursor';
@import '_buttons';
main {
  height: 100vh;
}

body {
  overflow: hidden;
  background: $color3;
  height: 100vh;
}
h1 {
  font-family: 'Bordeaux Regular';
  font-size: 40px;
}

#contact-page {
  a {
    font-family: 'Poppins Light';
    text-decoration: none;
    color: black;
    transition: 0.1s;
    &:hover {
      color: $color3;
      background: $color2;
      font-size: 27px;
    }
  }
  article {
    margin-top: 62px;
    margin-left: 115px;
    line-height: 1.8;
    font-size: 24px;
    letter-spacing: 0.042em;
  }
}
* {
  cursor: none;
}
$img-height: 50vh;
.hero {
  position: absolute;
  width: $img-height;
  height: $img-height;
  margin-left: 8vw;
}

.background {
  margin-top: 18vh;
  margin-left: 17vh;

  position: absolute;
  z-index: -1;

  font-family: 'Bordeaux Regular';
  font-size: 12em;
  letter-spacing: 0.089em;
  font-weight: 900;

  color: #e3c465;
}
#top-row {
  height: 55vh;
}
.header {
  margin-top: 133px;
  h1 {
    font-family: 'Bordeaux Regular';
    font-size: 63px;
    font-weight: 500;
  }
  p {
    font-family: 'Poppins Light';
  }
}
$number-of-cards: 5;
$card-size: 40vh;
$card-margin: 4vh;
.carasole {
  height: 45vh;
  display: inline-flex;
  width: (2 * $number-of-cards * ($card-size + $card-margin));
  overflow-y: hidden;
  overflow-x: hidden;
  animation: anime-slide $number-of-cards * 5s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
  @import '_card';
  @keyframes "anime-slide" {
    100% {
      transform: translate(
        -(($card-size + 2 * $card-margin) * $number-of-cards),
        0px
      );
    }
  }
}
