.face
  .base
    .face-1
    .face-2
  .hair
    .hair-1
      -val = 1
      while val < 14
        div(class= "hair-1-" + val++)
    .hair-2
    .hair-3
  .mush
    .mush-1
    .mush-2
  .specs
    .specs-1
    .specs-2
  .ear
  .fixes
    .fix-1
    .fix-2
